.root {
  background-color: rgb(202, 240, 197);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ddd;
}
.container {
  flex-grow: 1;
  min-height: 100vh;
}
