.image {
  width: 200px;
  padding: 25px;
  margin: auto;
}
.section {
  background-color: rgb(69, 218, 15);
  display: flex;

  padding: 50px;
}
.container {
  background-color: sandybrown;
}
.link {
  text-decoration: "none";
}
